- if alert.present?
  %p.notice.alert.alert-primary
    = alert
= form_tag login_path, remote: true do
  .form-group
    = label_tag :email
    %br
    = text_field_tag :email, '', class: "form-control"
  .form-group
    = label_tag :password
    %br
    = password_field_tag :password, '', class: "form-control"
  .form-group
    %button{type: :submit, class: "btn btn-success" } Login