%h1
  = @barbershop.barbershop_name
  %hr
.row
  .col-lg-4
    .card.p-2
      %p
        %strong
          Barbers:
      %ul
        - @users.each do |user|
          %li
            = link_to "#{user.name}", user_path(user)
  .col-lg-3
    = link_to "Make an Appointment", new_barbershop_appointment_path(@barbershop, @appointment), remote: true, class: "btn btn-primary"
    - if logged_in? && user_belongs_to_shop
      = link_to "New Post", new_barbershop_post_path(@barbershop, @post), remote: true, class: "btn btn-info mt-2"
      = link_to "View Private Posts", private_posts_path(@barbershop), class: "btn btn-warning mt-2"

.row
  .col-lg-12.mt-4
    %h2
      Posts
    #posts.mt-3
      = render partial: 'posts/post', collection: @barbershop.posts

.row
  .col-lg-12.mt-4
    %h2
      Appointments
    #appointments.mt-3
      = render partial: 'appointments/appointment', collection: @barbershop.appointments


