.card.p-3.mb-3.appt-cards{id: "post_#{post.id}"}
  %p
    Author:
    = post.postable.barbershop_name
  %p
    = post.title
  
  %p
    = post.body

  - if logged_in? && user_belongs_to_shop
    %p
      = link_to 'delete', barbershop_post_path(post.postable, post), method: :delete
      |
      = link_to 'edit', edit_barbershop_post_path(post.postable, post), remote: true